# =========================
# DATA (DO NOT UPLOAD)
# =========================
data/

# =========================
# TRAINED MODELS (TOO LARGE)
# =========================
models/

# =========================
# PYTHON CACHE FILES
# =========================
__pycache__/
*.pyc

# =========================
# SYSTEM FILES (MAC)
# =========================
.DS_Store

# =========================
# JUPYTER NOTEBOOK CACHE
# =========================
.ipynb_checkpoints/

# =========================
# VIRTUAL ENVIRONMENTS
# =========================
venv/
.env